.contactsBlock {
    background-color: #070809;
    background-position: center;

}

.contactsContainer {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: 1px solid white;
}

/*.form {*/
/*    width: 280px;*/
/*    height: 100px;*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    justify-content: space-around;*/
/*    margin-bottom: 20px;*/
/*}*/

.form {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form input, .form textarea {
    width: 100%;
    font-size: 17px;
    background-color: transparent;
    color: #fff;
    border: 1px solid #5d5c60;
    outline: none;
    padding: 10px;
    margin: 15px 0;
}

/*.button {*/
/*    !*background-color: darkgrey;*!*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    padding: 10px 20px;*/
/*    background-color: #08d665;*/
/*    outline: none;*/
/*    color: #070809;*/
/*    font-family: 'Rubik', sans-serif;*/
/*    line-height: 27px;*/
/*    font-weight: bold;*/
/*    cursor: pointer;*/
/*    margin: 25px 0;*/
/*}*/

.name {
    background-color: greenyellow;
}

@media screen and (max-width: 821px){
    .form {
        width: 94%;
    }
}

.buttonNew {
    background-color: #08d665;
    padding: 15px;
    border: 1px solid #08d665;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px 0 25px 0;
    color: #fff;
    transition: 0.4s;
    font-family: 'Rubik', sans-serif;
    line-height: 27px;
    font-weight: 500;
}

.buttonNew:hover {
    background-color: transparent;
    color: #08d665;
}

