.skillsBlock {
    /*background-color: #c6e947;*/
    padding-bottom: 25px;
    background-color: #070809;
    border: 1px solid blueviolet;
}

.skillsContainer {
    height: 100%;
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border: 1px solid green;
}

.title{
    background-color: gray;
}

.skills {
    /*border: 1px solid;*/
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}