.mainBlock {
    /*height: 100vh;*/
    background-color: #131617;
}

.text {
    /*width: 300px;*/
    /*background-color: whitesmoke;*/
    max-width: 450px;
    margin: 0 60px;
    font-weight: 700;
    font-size: 28px;
    letter-spacing: 0.03em;
    line-height: 1.2;
    color: #08d665;
    transition: transform 0.2s linear;
}

.photo {
    width: 320px;
    height: 420px;
    background-color: whitesmoke;
}

.container {
    height: 100%;
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #131617;
    padding: 25px 0;
}

@media screen and (max-width: 571px){

    .photo {
        width: 280px;
        height: 380px;
    }

    .text {
        font-size: 20px;
    }
}

@media screen and (max-width: 1014px) {
    .container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .text {
        margin: 0 0 25px 0;
    }
}