.mainBlock {
    /*height: 100vh;*/
    background-color: #070809;
    border: 1px solid white;
}

.text {
    width: 300px;
    background-color: whitesmoke;
}

.photo {
    width: 300px;
    height: 400px;
    background-color: whitesmoke;
}

.container {
    height: 100%;
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #070809;
    border: 1px solid white;
    padding: 50px 0;
}

@media screen and (max-width: 820px){
    .container {
        justify-content: space-around;
    }

    .photo {
        width: 280px;
        height: 380px;
        margin-top: 50px;
    }
}