@import "../../common/style/sass/variables";

.title{
    margin-bottom: 50px;
    & h2 {
        font-family: 'Oswald', sans-serif;
        font-size: 44px;
        line-height: 39px;
        text-transform: uppercase;
        color: $primaryColor;
        letter-spacing: -2px;
        font-weight: 600;
        margin: 25px 0 0 0;
    }
}

